@import '../../../styles/Settings/all';
@import '../../../styles/Tools/all';
.github-installations-page {
    @extend %flex-container-vertical;
    padding: $grid-gutter;
    height: 100%;
    text-align: center;

    .page-content {
        text-align: initial;
        margin: auto;
        height: 100%;
        width: 100em;
        padding: $grid-gutter;

        img {
            width: 16px;
            height: 16px;
        }
    }
}
